.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.frituurs {
  display: flex;
  flex-wrap: wrap;
}

.frituur-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-decoration: none;
  color: inherit;
  display: block;
  width: 300px;
}

app-frituur-item {
  flex-basis: 25%;
}

.frituur-item h4 {
  margin: 0;
}
