<h1 class="login-header">
  <b>Login with your credentials</b>
</h1>

<button mat-raised-button color="primary" (click)="logout()" style="margin-bottom: 20px; margin-top: 20px;">Logout</button>
<button mat-raised-button color="primary" (click)="getUser()" style="margin-bottom: 20px; margin-top: 20px;">Show User</button>

<div class="login-div">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field>
          <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="login()">Login</button>
      </form>
      <div class="routerLinks">
        <a routerLink="/register" class="register">Don't have an account? Register!</a>
        <br>
        <a routerLink="/forgot-password" class="forgot-password">Forgot Password</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
